{% extends "base.html" %}

{% block content %}
    <div>
        <h4>Cluster info  : <span>{{ arn }}</span><h4>
        <h4>Running tasks : <span>{{ count }}</span><h4>
    </div>
    <div style="border:1px solid black;margin:2px;" class="container">
        <form method="post" style="padding-bottom: 15px">
            <label for="count">Desired Count</label>
            <input type="text" name="count"
                   placeholder="Desired # of tasks"
            </input>
            <br>
            <button type="submit">Update</button>
        </form>
    </div>
    <span>{{ message }}</span>
{% endblock %}